spring:
  application:
    name: backend

  # MySQL
  datasource:
    url: ${MYSQL_DB_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
